.movies {
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 70px 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.movies__container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 43px 30px;
	margin: 70px 0 0;
	padding: 0;
}

.movies__more {
	margin: 80px 0 80px;
	display: flex;
	justify-content: center;
	flex: 1;
}

.movies__more-button {
	width: 320px;
	height: 36px;
	border: 1px solid #424242;
	border-radius: 6px;
	padding: 11px 60px 9px;
	font-weight: 500;
	font-size: 12px;
	line-height: normal;
	color: #fff;
	background-color: transparent;
}

@media screen and (max-width: 1279px) {
	.movies__container {
		justify-items: center;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 47px 30px;
	}
}

@media screen and (max-width: 1070px) {
	.movies {
		padding: 0 30px 0;
	}

	.movies__more {
		margin-top: 65px;
	}
}

@media screen and (max-width: 760px) {
	.movies__container {
		margin: 40px 0 0;
		justify-items: center;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 36px 30px;
	}
}

@media screen and (max-width: 568px) {
	.movies {
		padding: 0 10px 0;
	}

	.movies__more {
		margin-top: 60px;
		margin-bottom: 120px;
	}

	.movies__more-button {
		width: 240px;
	}
}
