.movies {
	margin: 0 auto;
	box-sizing: border-box;
	min-height: 100vh;
	/* min-height: 100%; */
	display: flex;
	flex-direction: column;
}

.movies__list {
	padding: 0 70px 0;
}

.movies__wrapper {
	flex: 1 1 auto;
}

@media screen and (max-width: 1070px) {
	.movies__list {
		padding: 0 20px 0;
	}
}

@media screen and (max-width: 568px) {
	.movies__list {
		padding: 0 10px 0;
	}

}