.movies {
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 70px 0;
}

.movies__search-container {
	height: 228px;
	padding-top: 80px;
}

.movies__search {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.movies__search-input {
	width: 100%;
	border-radius: 8px;
	border: none;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 20px;
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	background-color: #2F2F2F;
}

.movies__search-button {
	background-image: url(../../images/movies/find-button.svg);
	background-color: transparent;
	width: 44px;
	height: 44px;
	border: none;
	padding: 0;
	cursor: pointer;
}

.movies__filter {
	margin-top: 28px;
	display: flex;
	justify-content: center;
	gap: 12px;
}

.movies__check-box {
	width: 36px;
  height: 20px;
  border: none;
  outline: none;
	background: #a0a0a0;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  position: relative;
  cursor: pointer;
  appearance: none;
}

.movies__check-box::after {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 2px;
  left: 2px;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  content: "";
  border-radius: 50%;
  transition: 0.3s ease;
}

.movies__check-box:checked {
  background: #2be080; /* Измененный цвет фона для активного чекбокса */
}

.movies__check-box:checked::after {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 2px;
  right: 2px;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  content: "";
  border-radius: 50%;
  transition: 0.4s ease;
  transform: translate(16px);
}

.movies__span {
	margin: 0;
	font-size: 12px;
	line-height: 18px;
}

.movies__container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 43px 30px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.movies__more {
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

.movies__more-button {
	width: 320px;
	height: 36px;
	border: 1px solid #424242;
	border-radius: 6px;
	padding: 11px 60px 9px;
	font-weight: 500;
	font-size: 12px;
	line-height: normal;
	color: #fff;
	background-color: transparent;
	cursor: pointer;
}