.profile {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.profile__container {
	/* height: 100%; */
	box-sizing: border-box;
	padding: 74px 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.profile__title {
	margin: 0 0 105px;
	font-weight: 500;
	font-size: 24px;
	line-height: normal;
}

.profile__form {
	width: 410px;
	/* margin: 0 0 200px; */
	display: flex;
	flex-direction: column;
	/* gap: 9px; */
}

.profile__form-container {
	/* width: 410px; */
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	/* border-bottom: 1px solid #424242; */
}

.profile__form-container_active-border {
	/* margin-bottom: 5px; */
	border-bottom: 1px solid #424242;
}

.profile__input {
	width: 300px;
	/* height: 25px; */
	border: none;
	padding: 0;
	font-weight: 400;
	font-size: 11px;
	line-height: normal;
	text-align: right;
	color: #fff;
	background-color: transparent;
	outline: none;
}

.profile__input:hover {
	border-bottom: 1px solid #4e8a56;
	transition: all .25s;
}

.profile__input-error {
	color: #EE3465;
	font-size: 11px;
	/* display: block; */
}

.profile__span-error {
	min-height: 14px;
	color: #EE3465;
	font-size: 10px;
	font-weight: 400;
	line-height: normal;
	margin: 0 auto 0 0;
	width: 100%;
}

.profile__span-error:not(:last-of-type) {
	border-bottom: 1px solid #424242;
}

.profile__label {
	font-weight: 500;
	font-size: 11px;
	line-height: normal;
}

.profile__footer {
	/* padding-bottom: 70px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 200px;
	gap: 16px;
}

.profile__submit-message {
	text-align: center;
	font-size: 11px;
	font-weight: 400;
	line-height: normal;

	/* padding: 330px 0 20px 0; */
	margin: -20px 0 0;
	min-height: 14px;
}

.profile__submit-message_type-succsess {
	color: #3DDC84;
}

.profile__submit-message_type-error {
	color: #FF004C;
}

.profile__submit-button {
	width: 100%;
	border-radius: 3px;
	background: #4285F4;
	color: #FFF;
	font-size: 12px;
	font-weight: 500;
	line-height: normal;
	border: none;
	padding: 15px 0;
}

.profile__submit-button:disabled {
	background: #272727;
	border: 0.5px solid white;
	cursor: not-allowed;
}

.profile__edit-button {
	border: none;
	font-weight: 400;
	font-size: 13px;
	line-height: normal;
	color: #fff;
	background-color: transparent;
}

.profile__logout {
	font-weight: 500;
	font-size: 13px;
	line-height: normal;
	color: #EE3465;
}

@media screen and (max-width: 1070px) {
	.profile {
		/* padding: 0 30px 0; */
	}

	.profile__container {
		padding-top: 193px;
	}

	.profile__title {
		margin-bottom: 85px;
	}

	.profile__form {
		margin-bottom: 200px;
	}
}

@media screen and (max-width: 568px) {
	.profile {
		/* padding: 0 13px 0; */
	}

	.profile__container {
		padding-top: 70px;
	}

	.profile__title {
		margin-bottom: 70px;
	}

	/* .profile__input {
		max-width: 260px;
	} */

	.profile__input {
		max-width: 150px;
	}

	.profile__form {
		margin-bottom: 370px;
		width: 260px;
	}

	/* .profile__form-container {
	} */

	.profile__edit-button {
		font-size: 12px;
	}

	.profile__logout {
		font-size: 12px;
	}
}