.student {
	height: 327px;
	display: flex;
	justify-content: space-between;
}

.student__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.student__info {
	max-width: 600px;
}

.student__avatar {
	width: 270px;
	height: 327px;
	object-fit: cover;
	border-radius: 10px;
}

.student__title {
	margin: 0 0 18px;
	font-feature-settings: 'clig' off, 'liga' off;
	font-weight: 400;
	font-size: 50px;
	line-height: 58px;
	letter-spacing: -2px;
}

.student__subtitle {
	margin: 0 0 26px;
	font-feature-settings: 'clig' off, 'liga' off;
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
}

.student__about {
	margin: 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
}

.student__github-link {
	width: 100px;
	font-weight: 500;
	font-size: 14px;
	line-height: normal;
	color: #fff;
}

@media screen and (max-width: 1070px) {

	.student__container {
		padding-right: 48px;
	}

	.student__avatar {
		width: 255px;
		height: 307px;
	}

	.student__title {
		margin: 0 0 16px;
		font-size: 40px;
		line-height: 40px;
		letter-spacing: -1.6px;
	}

	.student__subtitle {
		margin: 0 0 20px;
		font-size: 12px;
		line-height: 18px;
	}

	.student__about {

	}
}

@media screen and (max-width: 568px) {
	.student {
		height: auto;
		flex-direction: column-reverse;
		align-items: center;
	}

	.student__avatar {
		width: 292px;
		height: 352px;
		padding-bottom: 40px;
	}

	.student__title {
		margin: 0 0 20px;
		font-size: 30px;
		line-height: normal;
		letter-spacing: -1.2px;
	}

	.student__subtitle {
		font-size: 11px;
		line-height: 16px;
	}

	.student__about {
		font-size: 11px;
		line-height: 16px;
	}

	.student__github-link {
		padding-top: 40px;
	}
}