.app {
	color: #fff;
  background-color: #202020;
  font-family: "Inter", "Arial ", sans-serif;
  font-weight: 400;
  min-width: 300px;
  max-width: 1280px;
  min-height: 100vh;
	margin: 0 auto;
	/* text-rendering: optimizeLegibility; */
}

/* Поправить адаптивность! */
/* @media screen and (max-width: 1070px) {
  .app {
		padding: 0 100px 45px;
  }
} */

/* Поправить адаптивность! */
/* @media screen and (max-width: 568px) {
  .app {
		padding: 28px 19px 36px;
  }
} */