.card {
	width: 360px;
	height: 231px;
}

.card__image-container {
	position: relative;
	cursor: pointer;
}

.card__image-container:hover .card__like {
	display: block;
}

.card__image {
	height: 201px;
	background-repeat: no-repeat;
	background-size: cover;
}

.card__like {
	width: 72px;
	height: 21px;
	border-radius: 10.5px;
	display: none;
	position: absolute;
	top: 14px;
	right: 14px;
	background-image: url(../../images/movies/save__card.svg);
	padding: 0;
	border: none;
	cursor: pointer;
	/* font-weight: 400;
	font-size: 12px;
	line-height: normal;
	color: #fff;
	 */
	background-color: transparent;
}

.card__title-container {
	display: flex;
	justify-content: space-between;
	padding: 14px 14px 0;
}

.card__title {
	max-width: 250px;
	min-height: 18px;
	margin: 0;
	font-weight: 500;
	font-size: 13px;
	line-height: normal;
}

.card__time {
	width: 52px;
	height: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 11px;
	line-height: 11px;
	color: #8B8B8B;
	background-color: #2F2F2F;
}

@media screen and (max-width: 1260px) {
	.card {}

}