.about-projects {
	height: 608px;
	display: flex;
	flex-direction: column;
}

.about-projects__title {
	height: 50px;
	margin: 110px 0 0;
	font-weight: 400;
	font-size: 22px;
	line-height: normal;
	border-bottom: 1px solid #DADADA;
	letter-spacing: -0.88px;
}

.about-projects__description {
	min-height: 90px;
	margin: 70px 0 110px;
	display: flex;
	gap: 0 40px;
}

.about-projects__description-container {
	max-width: 550px;
	display: flex;
	flex-direction: column;
	gap: 26px;
}

.about-projects__description-title {
	margin: 0;
	min-height: 24px;
	font-weight: 400;
	font-size: 20px;
	line-height: normal;
	letter-spacing: -0.8px;
}

.about-projects__description-content {
	margin: 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.8px;
}

.about-projects__study-time {
	height: 67px;
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: auto;
}

.about-projects__study-time-title {
	height: 36px;
	margin: 0 0 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;
	font-size: 14px;
	line-height: normal;
}

.about-projects__study-time-title_green {
	background-color: #3DDC84;
	color: #000;
}

.about-projects__study-time-title_gray {
	background-color: #303030;
}

.about-projects__study-time-content {
	margin: 0;
	display: flex;
	justify-content: center;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #8B8B8B;
}

@media screen and (max-width: 1070px) {
	.about-projects {
		height: 585px;
	}

	.about-projects__title {
		margin: 90px 0 0;
	}

	.about-projects__description {
		margin: 70px 0 93px;
		gap: 0 30px;
	}

	.about-projects__description-container {
		gap: 22px;
	}

	.about-projects__description-content {
		font-size: 12px;
		line-height: 18px;
		letter-spacing: normal;
	}

	.about-projects__study-time {
		grid-template-columns: 21% 79%;
	}

	.about-projects__study-time-title {
		margin: 0 0 14px;
	}
}

@media screen and (max-width: 568px) {
	.about-projects {
		height: 641px;
		margin: 0 4px 0;
	}

	.about-projects__title {
		margin: 70px 0 0;
		font-size: 18px;
		letter-spacing: -0.72px;
	}

	.about-projects__description {
		flex-direction: column;
		margin: 60px 0 60px;
		gap: 56px;
	}

	.about-projects__description-container {
		gap: 16px;
	}

	.about-projects__description-title {
		font-size: 18px;
		letter-spacing: -0.72px;
	}

	.about-projects__description-content {
		font-size: 11px;
		line-height: 16px;
	}

	.about-projects__study-time {
		height: 35px;
		grid-template-columns: 35% 65%;
		grid-template-rows: auto;
	}

	.about-projects__study-time-title {
		margin: 0 0 10px;
		font-size: 11px;
	}

	.about-projects__study-time-content {
		font-size: 11px;
	}
}