.header {
	height: 74px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

.header__register {
	width: 77px;
	height: 16px;
}

.header__movies {
	display: flex;
}

.header__burger-button {
	width: 40px;
	height: 43px;
	border: none;
	display: none;
	background-color: transparent;
	/* background-color: aquamarine; */
	position: relative;
	z-index: 20;
}

.header__burger-button span {
	width: 30px;
	height: 3px;
	left: 5px;
	display: block;
	position: absolute;
	background-color: #fff;
	/* background-color: black; */
	transition: background-color .25s, opacity .25s, transform .25s;
	will-change: transform;
}

/* Бургер */
.header__burger-button span:nth-child(1) {
	transform: translateY(-10px);
}

.header__burger-button span:nth-child(3) {
	transform: translateY(10px);
}

/* Крестик */
.header.open .header__burger-button span:nth-child(1) {
	transform: translateY(0) rotate(45deg);
}
.header.open .header__burger-button span:nth-child(2) {
	opacity: 0;
}
.header.open .header__burger-button span:nth-child(3) {
	transform: translateY(0) rotate(-45deg);
}

.header.open .header__burger-button {
	position: fixed;
	top: 15px;
	right: 10px;
}

@media screen and (max-width: 1070px) {
	.header {
		margin: 0 -20px 0;
	}

	.header__burger-button {
		display: block;
	}

	.header.open .burger {
		transform: translateX(-100%);
		visibility: visible;
	}

}

@media screen and (max-width: 568px) {
	.header {
		margin: 0;
	}

	.header__burger-button {
		width: 46px; 
		/* а оно нужно?? */
		/* height: 43px; */
	}

	.header__burger-button span {
		width: 25px;
		height: 1.5px;
	}
}