.header {
	height: 74px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

.header__register {
	width: 77px;
	height: 16px;
}

.header__movies {
	display: flex;
}
