.techs {
	height: 625px;
	margin: 0 -70px 0;
	display: flex;
	flex-direction: column;
	background-color: #272727;
}

.techs__title {
	height: 50px;
	margin: 100px 70px 90px;
	font-weight: 400;
	font-size: 22px;
	line-height: normal;
	border-bottom: 1px solid #DADADA;
	letter-spacing: -0.88px;
}

.techs__description {
	margin-bottom: 100px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.techs__description-title {
	margin-bottom: 26px;
	font-weight: 400;
	font-size: 50px;
	line-height: 58px;
	letter-spacing: -2px;
}

.techs__description-subtitle {
	max-width: 460px;
	/* height: 40px; */
	margin-bottom: 100px;
	text-align: center;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.56px;
}

.techs__decription-list {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 10px;
	/* list-style: none; */
}

.techs__decription-item {
	width: 90px;
	height: 60px;
	border-radius: 10px;
	font-weight: 400;
	font-size: 14px;
	line-height: normal;
	letter-spacing: -0.56px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background-color: #303030;
}

@media screen and (max-width: 1070px) {
	.techs {
		height: 567px;
		margin: 0 -50px 0;
	}

	.techs__title {
		margin: 80px 50px 80px;
	}

	.techs__description {
		margin-bottom: 0;
	}

	.techs__description-title {
		margin-bottom: 22px;
	}

	.techs__description-subtitle {
		margin-bottom: 83px;
		font-size: 12px;
		line-height: 18px;
		letter-spacing: -0.48px;
	}

	.techs__decription-item {
		width: 84px;
		height: 57px;
		font-size: 12px;
		letter-spacing: -0.48px;
	}
}

@media screen and (max-width: 700px) {
	.techs__decription-list {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (max-width: 568px) {
	.techs {
		height: 651px;
		margin: 0 -14px 0;
	}

	.techs__title {
		margin: 70px 18px 20px;
		font-size: 18px;
		letter-spacing: -0.72px;
	}

	.techs__description-title {
		margin-bottom: 0;
		font-size: 30px;
		letter-spacing: -1.2px;
	}

	.techs__description-subtitle {
		margin-bottom: 55px;
		font-size: 11px;
		line-height: 16px;
		letter-spacing: -0.44px;
	}

	.techs__decription-list {
		grid-template-columns: repeat(2, 1fr);
	}
}