.about-me {
	height: 1079px;
}

.about-me__title {
	height: 50px;
	margin: 110px 0 66px;
	font-weight: 400;
	font-size: 22px;
	line-height: normal;
	border-bottom: 1px solid #DADADA;
	letter-spacing: -0.88px;
}

.about-me__subtitle {

}