.form-label {
	height: 90px;
	display: flex;
	flex-direction: column;
	color: #8B8B8B;
}

.form-label__input {
	height: 46px;
	border-radius: 8px;
	color: #fff;
	background-color: #2F2F2F;
}

.form-label__input-error {
	height: 22px;
	color: #EE3465;
}